*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: block;
  background: #f7f7f7;
}
songs.fa {
  font-size: 30px;
}


.fa {
  padding: 0px 10px;
  float: left;
  font-family: sans-serif;
}

.fa:after {
  clear: both;
}
.container {
  display: block;
   margin: 0 auto;
   width: 80%;
}
header h1 {
  margin: 0;
  display: block;
  padding: 20px;

}
header {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}
header:after {
  clear: both;
}
.songs {
  line-height: 20px;
  color: #343434;
  font-family: sans-serif;

}
h2 {
  font-size: 22px;
}
hr {
  color: #DCDCDC;
  opactity: 0.8;
}
